body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Altura del 100% del viewport */
    background: linear-gradient(to top, #d4d4d4 60%, #41558d 40%);

    margin-top: 80px;

}
h3{
    margin: 20px;
}
nav{
    margin: 0px 70px 0px 70px;
}
.cuenta{
    border: 3px solid black;
    border-radius: 20px;
    background-color: #f1f0f0;
    margin: 60px 70px 0px 70px;
    height: auto;
}
form{
    margin: 0px 80px 20px 80px;
}
.form-control{
    border: 1px solid black;
}
@media screen and (max-width:400px){
    form{
        margin: 0px 40px 20px 40px;
    }
}
